<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename = 'css/dashboard_style.css') }}" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename = 'css/details.css') }}" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous" />
	</head>
	<body>
		<nav class="navbar">
			<h1 class=""><a href="/dashboard">findit.</a></h1>
			<div class="d-flex">
				<div class="input-wrapper">
					<button class="icon">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							height="25px"
							width="25px">
							<path
								stroke-linejoin="round"
								stroke-linecap="round"
								stroke-width="1.5"
								stroke="#fff"
								d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z"></path>
							<path
								stroke-linejoin="round"
								stroke-linecap="round"
								stroke-width="1.5"
								stroke="#fff"
								d="M22 22L20 20"></path>
						</svg>
					</button>
					<input
						placeholder="Search by model"
						class="input"
						name="text"
						type="text" />
				</div>
				<a class="fancy" href="/logout">
					<span class="top-key"></span>
					<span class="text">Logout</span>
					<span class="bottom-key-1"></span>
					<span class="bottom-key-2"></span>
				</a>
			</div>
		</nav>
		<sidenav>
			<ul>
				<a href="/">
					<li class="home-li">
						<div class="home-icon">
							<div class="roof">
								<div class="roof-edge"></div>
							</div>
							<div class="front"></div>
						</div>
					</li>
				</a>
				<a href="/about">
					<li class="about-li">
						<div class="about-icon">
							<div class="head">
								<div class="eyes"></div>
								<div class="beard"></div>
							</div>
						</div>
					</li>
				</a>
				<a href="/add/car">
					<li class="add-li">
						<div class="work-icon">
							<div class="paper"></div>
							<div class="lines"></div>
							<div class="lines"></div>
							<div class="lines"></div>
						</div>
					</li>
				</a>
				<a href="/saved">
					<li class="saved-li">
						<div class="mail-icon">
							<div class="mail-base">
								<div class="mail-top"></div>
							</div>
						</div>
					</li>
				</a>
			</ul>
		</sidenav>
        <div class="card-a">
			<div class="container">
				<div class="car-details">
					<h2>Car Details</h2>
					<div class="car-detail">
						<label>Make:</label>
						<span>{{car.car_make}}</span>
					</div>
					<div class="car-detail">
						<label>Model:</label>
						<span>{{car.car_model}}</span>
					</div>
					<div class="car-detail">
						<label>Engine:</label>
						<span>{{car.car_engine}} cc</span>
					</div>
					<div class="car-detail">
						<label>Fuel:</label>
						<span>{{car.car_fuel}}</span>
					</div>
					<div class="car-detail">
						<label>Transmission:</label>
						<span>{{car.car_transmissions}}</span>
					</div>
					<div class="car-detail">
						<label>Drive:</label>
						<span>{{car.car_drive}}</span>
					</div>
				</div>
				<div class="car-image">
					<div class="slideshow-container">
						{% for image in car.car_images.split(',') %}
							<div class="mySlides">
								<img src="../../static/UPLOADED_FOLDER/{{ image }}" alt="Car Image" width="350" height="200" />
							</div>
						{% endfor %}
			
						<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
						<a class="next" onclick="plusSlides(1)">&#10095;</a>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="car-description">
					<h2>Description</h2>
					<p>{{car.car_description}}</p>
				</div>
			</div>
		</div>
		<script>
            let slideIndex = 1;
            showSlides(slideIndex);
        
            function plusSlides(n) {
                showSlides(slideIndex += n);
            }
        
            function showSlides(n) {
                let i;
                const slides = document.getElementsByClassName("mySlides");
        
                if (n > slides.length) {
                    slideIndex = 1;
                }
                if (n < 1) {
                    slideIndex = slides.length;
                }
        
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
        
                slides[slideIndex - 1].style.display = "block";
            }
        </script>
    </body>
</html>
