<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findit.</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="logo">
        <img src="static/img/logo.png" alt="logo" > 
        <h1>findit.</h1>
    </div>
    <div class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true" >
    <div class="login">
        <form action="/loginRegister" method="POST">
            <label for="chk" aria-hidden="true">Login</label>
            <input type="email" name="email" id="emailInput" placeholder="Email" >
            {% with messages = get_flashed_messages(category_filter=["emailLogin"]) %}
            {% if messages %}
                {% for message in messages %}
                <p class="text-red text-center">{{ message }}</p>
                {% endfor %}
                <script>
                document.getElementById("emailInput").classList.add("error-border");
                </script>
            {% endif %}
            {% endwith %}
            <input type="password" name="password" placeholder="Password" >
            {% with messages = get_flashed_messages(category_filter=["passwordLogin"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-red text-center">{{ message }}</p>
            {% endfor %}
            <script>
            document.getElementsByName("password")[0].classList.add("error-border");
            </script>
            {% endif %}
            {% endwith %}
            <input type="hidden" name="action" value="login">
            <button type="submit">Login</button>
        </form>
    </div>
    
    <div class="signup">
        <form action="/loginRegister" method="POST">
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="text" name="first_name" placeholder="First Name" >
            {% with messages = get_flashed_messages(category_filter=["firstName"]) %}   
            {% if messages %}
            {% for message in messages %}
            <p class="text-red text-center">{{ message }}</p>
            {% endfor %}
            <script>
            document.getElementsByName("first_name")[0].classList.add("error-border");
            </script>
            {% endif %}
            {% endwith %}
            <input type="text" name="last_name" placeholder="Last Name" >
            {% with messages = get_flashed_messages(category_filter=["lastName"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-red text-center">{{ message }}</p>
            {% endfor %}
            <script>
            document.getElementsByName("last_name")[0].classList.add("error-border");
            </script>
            {% endif %}
            {% endwith %}
            <input type="email" name="email" placeholder="Email" >
            {% with messages = get_flashed_messages(category_filter=["emailSignUp"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-red text-center">{{ message }}</p>
            {% endfor %}
            <script>
            document.getElementsByName("email")[1].classList.add("error-border");
            </script>
            {% endif %}
            {% endwith %}
            <input type="password" name="password" placeholder="Password" >
            {% with messages = get_flashed_messages(category_filter=["password"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-red text-center">{{ message }}</p>
            {% endfor %}
            <script>
            document.getElementsByName("password")[1].classList.add("error-border");
            </script>
            {% endif %}
            {% endwith %}
            <input type="password" name="confirm_password" placeholder="Confirm Password" >     
            {% with messages = get_flashed_messages(category_filter=["passwordConfirm"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-red text-center">{{ message }}</p>
            {% endfor %}
            <script>
            document.getElementsByName("confirm_password")[0].classList.add("error-border");
            </script>
            {% endif %}
            {% endwith %}
            <input type="hidden" name="action" value="register">
            <button type="submit">Sign up</button>
        </form>
    </div>
    
    </div>
</body>
</html>
