body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #e5df37, #f0e726, #ffef61);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.main {
    width: 350px;
    height: 550px;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#chk {
    display: none;
}

.login {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #000;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    margin-bottom: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 60%;
    height: 20px;
    background: #000000;
    color: #ffffff;
    justify-content: center;
    display: flex;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #fbff08;
    outline: none;
    border-radius: 5px;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fbff08;
    background: #000;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: 1px;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover {
    background: #fff;
    color: #000;
}

.signup {
    height: 460px;
    background: #000;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.signup label {
    color: #fbff08;
    transform: scale(.6);
    padding-top: 10px;
}

#chk:checked~.signup {
    transform: translateY(-550px);
}

#chk:checked~.signup label {
    transform: scale(1);
}

#chk:checked~.login label {
    transform: scale(.6);
}

#chk:checked~.signup button {
    color: #000;
    background: linear-gradient(to bottom, #e5df37, #f0e726, #ffef61);
}

#chk:checked~.signup button:hover {
    background: #000;
    border: 1px solid #fbff08;
    color: #fbff08;
}

.login button:hover {
    background: linear-gradient(to bottom, #e5df37, #f0e726, #ffef61);
    border: 1px solid #000;
    color: #000;
}

.text-red {
    color: red;
}

.text-center {
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}

.error-border {
    border: 3px solid red !important;
}

.logo h1 {
    font-size: 86px;
    position: relative;
    top: -90px;
}

.logo img {
    width: 360px;
    position: relative;
    top: 100px;
    left: 45px;
}